* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --font-family: 'Mulish', sans-serif;
  --color-accent: #3751FF;

  font-family: var(--font-family);
}

input {
  font-family: var(--font-family);
}


.text--link {
  color: var(--color-accent);
  font-weight: 600;
  cursor: pointer;
}